name: ydb-cluster
volumes:
  ydb-certs:
    driver: local
x-ydb-node: &ydb-node
  build:
    context: .
    dockerfile: Dockerfile
  restart: always
  platform: linux/amd64
  command:
    - /ydbd
  volumes:
    - ydb-certs:/ydb_certs
    - ./ydb-config.yml:/opt/ydb/cfg/config.yaml
  environment:
    - YDB_CONFIG_PATH=/opt/ydb/cfg/config.yaml
    - YDB_NODE_TYPE=static
    - YDB_USE_IN_MEMORY_PDISKS=true
  healthcheck:
    test: bash -c "exec 6<> /dev/tcp/localhost/2136"
    interval: 10s
    timeout: 1s
    retries: 3
    start_period: 30s
  network_mode: host
services:
  storage-zone-a-1:
    <<: *ydb-node
    hostname: localhost
    environment:
      - YDB_GRPC_PORT=2136
      - YDB_MON_PORT=8765
      - YDB_IC_PORT=19001
    healthcheck:
      test: bash -c "exec 6<> /dev/tcp/localhost/2136"
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 30s
  storage-zone-b-1:
    <<: *ydb-node
    hostname: localhost
    environment:
      - YDB_GRPC_PORT=2137
      - YDB_MON_PORT=8766
      - YDB_IC_PORT=19002
    healthcheck:
      test: bash -c "exec 6<> /dev/tcp/localhost/2137"
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 30s
  database-zone-a-1:
    <<: *ydb-node
    hostname: localhost
    environment:
      - YDB_TENANT=/Root/testdb
      - YDB_GRPC_PORT=2138
      - YDB_MON_PORT=8767
      - YDB_IC_PORT=19003
      - YDB_BRIDGE_PILE_NAME=pile-1
      - YDB_NODE_LOCATION_DC=dc-a
      - YDB_NODE_LOCATION_RACK=rack-1
      - YDB_NODE_BROKERS=grpc://localhost:2136,grpc://localhost:2137
    depends_on:
      storage-zone-a-1:
        condition: service_healthy
      storage-zone-b-1:
        condition: service_healthy
      storage-init:
        condition: service_completed_successfully
      database-init:
        condition: service_completed_successfully
    healthcheck:
      test: bash -c "exec 6<> /dev/tcp/localhost/2138"
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 30s
  database-zone-a-2:
    <<: *ydb-node
    hostname: localhost
    environment:
      - YDB_TENANT=/Root/testdb
      - YDB_GRPC_PORT=2139
      - YDB_MON_PORT=8768
      - YDB_IC_PORT=19004
      - YDB_BRIDGE_PILE_NAME=pile-1
      - YDB_NODE_LOCATION_DC=dc-a
      - YDB_NODE_LOCATION_RACK=rack-1
      - YDB_NODE_BROKERS=grpc://localhost:2136,grpc://localhost:2137
    depends_on:
      storage-zone-a-1:
        condition: service_healthy
      storage-zone-b-1:
        condition: service_healthy
      storage-init:
        condition: service_completed_successfully
      database-init:
        condition: service_completed_successfully
    healthcheck:
      test: bash -c "exec 6<> /dev/tcp/localhost/2139"
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 30s
  database-zone-b-1:
    <<: *ydb-node
    hostname: localhost
    environment:
      - YDB_TENANT=/Root/testdb
      - YDB_GRPC_PORT=2140
      - YDB_MON_PORT=8769
      - YDB_IC_PORT=19005
      - YDB_BRIDGE_PILE_NAME=pile-2
      - YDB_NODE_LOCATION_DC=dc-b
      - YDB_NODE_LOCATION_RACK=rack-1
      - YDB_NODE_BROKERS=grpc://localhost:2136,grpc://localhost:2137
    depends_on:
      storage-zone-a-1:
        condition: service_healthy
      storage-zone-b-1:
        condition: service_healthy
      storage-init:
        condition: service_completed_successfully
      database-init:
        condition: service_completed_successfully
    healthcheck:
      test: bash -c "exec 6<> /dev/tcp/localhost/2140"
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 30s
  database-zone-b-2:
    <<: *ydb-node
    hostname: localhost
    environment:
      - YDB_TENANT=/Root/testdb
      - YDB_GRPC_PORT=2141
      - YDB_MON_PORT=8770
      - YDB_IC_PORT=19006
      - YDB_BRIDGE_PILE_NAME=pile-2
      - YDB_NODE_LOCATION_DC=dc-b
      - YDB_NODE_LOCATION_RACK=rack-1
      - YDB_NODE_BROKERS=grpc://localhost:2136,grpc://localhost:2137
    depends_on:
      storage-zone-a-1:
        condition: service_healthy
      storage-zone-b-1:
        condition: service_healthy
      storage-init:
        condition: service_completed_successfully
      database-init:
        condition: service_completed_successfully
    healthcheck:
      test: bash -c "exec 6<> /dev/tcp/localhost/2141"
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 30s
  storage-init:
    <<: *ydb-node
    restart: no
    environment:
      - YDB_INIT_OPERATION=bootstrap
      - YDB_NODE_BROKERS=grpc://localhost:2136,grpc://localhost:2137
    command:
      - /entrypoint.sh
    depends_on:
      storage-zone-a-1:
        condition: service_healthy
      storage-zone-b-1:
        condition: service_healthy
  database-init:
    <<: *ydb-node
    restart: no
    environment:
      - YDB_INIT_OPERATION=create-database
      - YDB_DATABASE_PATH=/Root/testdb
      - YDB_NODE_BROKERS=grpc://localhost:2136,grpc://localhost:2137
    command:
      - /entrypoint.sh
    depends_on:
      storage-zone-a-1:
        condition: service_healthy
      storage-zone-b-1:
        condition: service_healthy
      storage-init:
        condition: service_completed_successfully
