# This file is used to define custom metrics for monitoring YDB SDK operations.
# These metrics will be collected and analyzed to evaluate the performance and reliability of the SDK.

default:
  step: 500ms # Global step interval for all metrics
  timeout: 30s # Timeout for metric queries
  neutral_change_percent: 5.0 # Neutral change threshold

metrics:
  # 95th percentile read operations latency in milliseconds
  - name: read_latency_ms
    query: 1000 * histogram_quantile(0.95, sum by(ref, le) (rate(sdk_operation_latency_seconds_bucket{operation_type="read"}[10s])))
  # step: '500ms'  # Uncomment for very high-resolution data

  # 95th percentile write operations latency in milliseconds
  - name: write_latency_ms
    query: 1000 * histogram_quantile(0.95, sum by(ref, le) (rate(sdk_operation_latency_seconds_bucket{operation_type="write"}[10s])))

  # Read operations throughput
  - name: read_throughput
    query: sum by(ref) (rate(sdk_operations_total{operation_type="read"}[10s]) > 0)

  # Write operations throughput
  - name: write_throughput
    query: sum by(ref) (rate(sdk_operations_total{operation_type="write"}[10s]) > 0)

  # Read attempts throughput
  - name: read_attempts
    query: sum by(ref) (rate(sdk_retry_attempts_total{operation_type="read"}[10s]) > 0)

  # Write attempts throughput
  - name: write_attempts
    query: sum by(ref) (rate(sdk_retry_attempts_total{operation_type="write"}[10s]) > 0)

  # Read operations availability
  - name: read_availability
    query: 100 * sum by (ref) (increase(sdk_operations_success_total{operation_type="read"}[10s])) / sum by (ref) (increase(sdk_operations_total{operation_type="read"}[10s]))
    round: 0.01

  # Write operations availability
  - name: write_availability
    query: 100 * sum by (ref) (increase(sdk_operations_success_total{operation_type="write"}[10s])) / sum by (ref) (increase(sdk_operations_total{operation_type="write"}[10s]))
    round: 0.01
